Validate authorizationGrants value

```yaml
#%RAML 1.0
title: Dropbox API
version: 1
baseUri: https://api.dropbox.com/{version}
securitySchemes:
  oauth_2_0:
    description: |
      Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    settings:
      authorizationUri: https://www.dropbox.com/1/oauth2/authorize
      accessTokenUri: https://api.dropbox.com/1/oauth2/token
      authorizationGrants: [ authorization_code, refresh_token, 'urn:ietf:params:oauth:grant-type:saml2-bearer' ]

```

**Actual result:**

```
{
    "title": {
        "value": "Dropbox API"
    },
    "version": {
        "value": 1
    },
    "baseUri": {
        "value": "https://api.dropbox.com/{version}"
    },
    "securitySchemes": {
        "oauth_2_0": {
            "description": {
                "value": "Dropbox supports OAuth 2.0 for authenticating all API requests.\n"
            },
            "type": "OAuth 2.0",
            "settings": {
                "authorizationUri": {
                    "value": "https://www.dropbox.com/1/oauth2/authorize"
                },
                "accessTokenUri": {
                    "value": "https://api.dropbox.com/1/oauth2/token"
                },
                "authorizationGrants": ["authorization_code",
"refresh_token"]
            },
            "displayName": {
                "value": "oauth_2_0"
            }
        }
    }
}
```

**Expected result:**

authorizationGrants	A list of the authorization grants supported by the API as defined in RFC6749 Sections 4.1, 4.2, 4.3 and 4.4, which can be either any of the following grants: authorization_code, password, client_credentials, or implicit; or any absolute URI as defined in section 4.5.

Therefore: Refresh_token must be invalid


Verified ok