Validate setting nodes are mandatory

```yaml
#%RAML 1.0
title: Dropbox API
version: 1
baseUri: https://api.dropbox.com/{version}
securitySchemes:
  oauth_1_0:
    description: |
      Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 1.0
    settings:
```

```yaml
#%RAML 1.0
title: Dropbox API
version: 1
baseUri: https://api.dropbox.com/{version}
securitySchemes:
  oauth_1_0:
    description: |
      Dropbox supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    settings:

```
**Actual result:**

Ramls are parsed successfully 

**Expected result**

https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#settings

Looks like the use of the question mark was not considered in the `settings` tables.
For instance the description of `signatures` goes like this: 

```A list of signature methods used by the Authorization server, which can be any of the following: HMAC-SHA1, RSA-SHA1, or PLAINTEXT. If signatures is missing, it is assumed that the Authentication server allows any signature method defined in RFC5849 Section 3.4.```

Also the field `settings` itself is not mandatory, It's not clear to me why all its fields should be.
